*{
    font-family:sans-serif ;
    margin: 0;
    padding: 0;
}
body{
    margin: 40px 0;
}
.container{
    border: 5px solid black;
    width: 700px;
    margin: 0 auto;
    height: 652px; 
}
.product-title{
    text-align: center;
    background-color: #f4f4f4;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    position: relative;
    
}
.product-title::after{
    content: 'SALE';
    background-color: red;
    color: white;
    font-size: 12px;
    position: absolute;
    left: -40px;
    top: -15px;
    height: 30px;
    width: 70px;
    line-height: 30px;
    letter-spacing: 2px;
}
.shipping{
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.text {
    font-size: 16;
    margin-bottom: 20px;
}
.price{
    font-size: 28px;
    margin: 20px 0;
}
.more-info{
    padding-bottom: 10px;
}
.more-info:link{
    color: blue;
}
.more-info:hover{
    text-decoration: none;
}
.more-info:visited{
    color: blue;
    /* color: #1098ad; */
}
.details-title{
    text-transform: uppercase;
    margin-top: 20px;
}
.details-list{
    font-size: 18px;
    list-style:square;
    padding-left: 25px;
    margin-top: 10px;
}
.add-cart{
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-size: 24px;
    width: 700px;
    height: 50px;
}
.add-cart:hover{
    color: black;
    background-color: white;
    cursor: pointer;
    border: none;
}

li{
    margin-bottom: 10px;

}

.black,.blue,.red,.yellow,.green,.brown{
    height: 15px;
    width: 15px;
    display: inline-block;
    margin-right: 15px;
    margin-top: 20px;
}
.black{
    background-color: black;

}
.blue{
    background-color:blue ;
}
.red{
    background-color:red ;
}
.yellow{
    background-color:yellow ;
}
.green{
    background-color:green ;
}
.brown{
    background-color: rgb(124, 85, 51);
}


